@page "/AddCar"


@*@inject HttpClient Http*@
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

@inherits BasePage

<MyStyle></MyStyle>
<style>


</style>

<h2>Add Car</h2>
<div class="row" style="background-color:lightcyan;">

    <label for="Brand" class="button"> Brand *</label>
    <input form="Brand" class="button" @bind="@car.Brand" />

    <label for="Model" class="button"> Model *</label>
    <input form="Model" class="button" @bind="@car.Model" />

    <label for="Model" class="button">  Year</label>
    <input form="Model" class="button"@bind="@car.Year" />

    <label for="Price" class="button">  Price</label>
    <input form="Price" class="button"@bind="@car.Price" />

</div>

<img class="imgcar" src=@CarViewModel.GetImg(car)/>
<div class="row">
    <button class="button" @onclick="@Save">Save</button>
    <button class="button" @onclick="@base.OnBack">Back</button>
</div>


<Message Error=@base.Error StrInfo=@base.StrInfo></Message>



@code {
    CarViewModel car = CarViewModel.CreateRandomCar(); 
  
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1); 
    }
    protected async Task Save()
    {
        var personResponse = await API.Add(car);
        if (personResponse?.Id > 0)
            await base.OnOk("Save Successfully");
        else
            await base.OnError("Save Failed !!");
    }


}
