@page "/carlist"
@inherits   BasePage

@inject ICarsViewModel ICarsViewModel;

<MyStyle></MyStyle>
<style>
    h3 {display:inline;width:100px;color:red;}

    .btn {
        position:absolute;
        right:10px;
    }
</style>

<div >
    <button class="btn btn-primary" @onclick="OnDeleteAll">Delete All</button>
</div>

<br />
<a href="/AddCar">Add New Car</a>
<div>
    <table class="table-bordered">
        <thead>
            <tr>
                <th width = "10%">Id</th>
                <th width = "15%">Photo</th>
                <th width = "10%">Brand</th>
                <th width = "10%">Model</th>
                <th width = "10%">Year</th>
                <th width = "15%">Price</th>
                <th width = "25%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in ICarsViewModel.Lst ??= new List<CarViewModel>())
            {
                <tr>
                <td>@p.Id</td>
                <td>
                    <img class="imgSmall" src=@(GetImage(p))/> 
                </td>
                <td>@p.Brand</td>
                <td>@p.Model</td>
                <td>@p.Year</td>
                <td style=@StyleNumber>@ToNumber(@p.Price)</td>
                <td>
                    @if(MayEdit(p))
                    {
                        <a href="/EditCar/@p.Id">Edit</a> 
                        <a href="/DeleteCar/@p.Id">Delete</a>
                    }      
                </td>
                </tr>
            }
        </tbody>
    </table>

<Message StrInfo=@StrLoad></Message>
</div>

@code {
    public string StrLoad { get; set; } = "";
    List<CarViewModel> carlist = new ();
    private static string ToNumber(int n) => string.Format("{0,10:#,##}", n);
    private string StyleNumber => "text-align:right";

    private string GetImage(CarViewModel car)
    {
        string img = CarViewModel.GetImg(car);
        return img;
    }

    private bool MayEdit(CarViewModel car)
    {
        return true;
    }

    protected override async Task OnInitializedAsync()
    {
        await  OnLoad();
    }

    protected async Task OnLoad()
    {
        StrLoad = "Loading car .... ";
        await ICarsViewModel.GetAll();  
        StrLoad = $"{carlist.Count} records loaded";
    }


    async Task OnDeleteAll()
    {
        foreach (var car in carlist)
            await ICarsViewModel.DeleteById(car.Id.ToString());

        await ICarsViewModel.GetAll();   
        StateHasChanged();
    }
}




