@page "/deleteperson/{Id}"
@using BlazorCRUDApp.Shared

@*@inject HttpClient Http*@
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IWebService WebService
@inherits   BasePage


<h2>Delete Person</h2>

<MyStyle></MyStyle>



@if(person != null)
{
<div class="row">
   <table class="table">
       <tr>
           <td>Name</td>
           <td>@person.FirstName @person.LastName</td>
       </tr>
       <tr>
           <td>Email</td>
           <td>@person.Email</td>
       </tr>
       <tr>
           <td>Mobile Number</td>
           <td>@person.MobileNo</td>
       </tr>
   </table>
</div>    
}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>

<Message StrInfo=@base.StrInfo></Message>
@code {
    [Parameter]
    public string Id { get; set; } = "";

    PersonViewModel person = new PersonViewModel();
    protected override async Task OnInitializedAsync()
    {
        person = await WebService.GetPersonById(Id);
    }
    protected async Task Delete()
    {
        var b = await WebService.DeleteById(Id);
        if (!b)
            return;
        await MessageBeforeNavigate("Delete was successfull", "personlist");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("personlist");
    }

}
