@page "/DeleteCar/{Id}"
@inherits   BasePage


<h2>Delete Car</h2>

<MyStyle></MyStyle>

@if(car != null)
{
<div class="row">
    <label class="ml">Brand *</label> <p class="mi">@car.Brand</p>
    <label class="ml">Model *</label> <p class="mi">@car.Model</p>
    <label class="ml">Year</label>    <p class="mi">@car.Year</p> 
    <label class="ml">Price</label>   <p class="mi">@car.Price</p> 
</div>    
}

<img class="imgcar" src=@CarViewModel.GetImg(car)/>

<div class="row">
    <input type="button" class="button" @onclick="@Delete" value=@DeleteText />
    <input type="button" class="button" @onclick="@base.OnBack" value="Back" />
</div>


<Message  Error=@base.Error StrInfo=@base.StrInfo></Message>
@code {
    [Parameter]
    public string Id { get; set; } = "";

    CarViewModel car = new CarViewModel();
    protected override async Task OnInitializedAsync()
    {
        car = await API.GetPersonById(Id);
    }
    public string DeleteText { get; set; } = "Delete";
    protected async Task Delete()
    {
        if (await API.DeleteById(Id))
            await base.OnOk("Delete was successfull");
        else
            await base.OnError("Delete failed - allready deleted ?");
    }
}
