@page "/DeleteCar/{Id}"
@inherits   BasePage


<h3>Delete Car</h3>

<MyStyle></MyStyle>

@if(car != null)
{
<div class="row">
    <label class="ml">Brand *</label> <p class="mi">@car.Brand</p>
    <label class="ml">Model *</label> <p class="mi">@car.Model</p>
    <label class="ml">Year</label>    <p class="mi">@car.Year</p> 
    <label class="ml">Price</label>   <p class="mi">@car.Price</p> 
    <div class="divImg">
        <img class="imgcar" src=@CarViewModel.GetImg(car)/>
    </div>
</div>    
}



<div class="row">
     <button class="btn btn-primary" @onclick="@Delete">Delete</button>
    <button class="btn btn-primary" @onclick="@base.OnCarList">Car List</button>
</div>

<Message @ref="Msg"></Message>
@code {
    [Parameter]
    public string Id { get; set; } = "";

    public Message? Msg;

    CarViewModel car = new CarViewModel();
    protected override async Task OnInitializedAsync()
    {
        car = await API.GetPersonById(Id);
    }
    public string DeleteText { get; set; } = "Delete";
    protected async Task Delete()
    {
        var b= await API.DeleteById(Id);
        if (Msg !=null)
            await Msg.Show(b,  b ? "Delete OK" : "Delete Error - (already deleted ?)");
        if (b)
            base.OnCarList();
    }
}
