@page "/editperson/{Id}"


@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

@inherits BasePage;

<MyStyle></MyStyle>



<h2>Edit Car</h2>
<div class="row" >


    <label for="Brand" class="button"> Brand *</label>
    <input form="Brand" class="button" @bind="@car.Brand" />

    <label for="Model" class="button"> Model *</label>
    <input form="Model" class="button" @bind="@car.Model" />

    <label for="Model" class="button">  Year</label>
    <input form="Model" class="button"@bind="@car.Year" />

    <label for="Price" class="button">  Price</label>
    <input form="Price" class="button"@bind="@car.Price" />

</div>

<img class="imgcar" src=@CarViewModel.GetImg(car)/>
<div class="row">
    <button class="button" @onclick="@Save">Save</button>
    <button class="button" @onclick="@base.OnBack">Back</button>
</div>

<Message Error=@base.Error StrInfo=@StrInfo> </Message>

@code {
    [Parameter]
    public string Id { get; set; } = "";
    CarViewModel car = new CarViewModel();
    protected override async Task OnInitializedAsync()
    {
        car = await API.GetPersonById(Id);
    }
    protected async Task Save()
    {
        bool b = await API.UpdateCar(car);
        if (b)
            await base.OnOk("Updated successfully");
        else 
            await base.OnError("Save Failed !!");

  
    }


}
