@page "/personlist"
@using BlazorCRUDApp.Shared

@inject HttpClient _httpClient
@inject IWebService WebService

<MyStyle></MyStyle>

<h1>Person - complete CRUD example</h1>
<div>
    <a href="/addperson"> Create New Person</a>
    @if (personList != null)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th width = "10%">Id</th>
                    <th width = "30%">Name</th>
                    <th width = "15%">Email</th>
                    <th width = "15%">Mobile No</th>
                    <th width = "30%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in personList)
                {
              
                    <tr>
                    <td>@p.Id</td>
                    <td>@p.FirstName @p.LastName</td>
                    <td>@p.Email</td>
                    <td>@p.MobileNo</td>
                    <td>
                        <a href="/editperson/@p.Id">Edit</a> |
                        <a href="/deleteperson/@p.Id">Delete</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    List<PersonViewModel> personList = new ();
    protected override async Task OnInitializedAsync()
    {
        personList = await WebService.GetAllPersons();
    }
}
